@use "../../scss/libs/_variables" as v;

.root {
  width: 100%;
  height: fit-content;
  padding: 20px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;

    li {
        padding: 5px 20px;
        border: 1px solid v.$light-gray;
        border-radius: 50px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-family: "Raleway";
        }
    }
  }
}
