@use "../../scss/libs/_variables" as v;

.root {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 20px;
  }

  .videoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
