@use "../../scss/libs/_variables" as v;

.root {
    width: 100%;
    height: fit-content;
    h2 {
        padding: 10px 40px;
    }

    .orgWrapper {
        width: 100%;
        padding: 20px 40px;
    }
}