@use "../../scss/libs/_variables" as v;

.root {
  width: 100%;
  height: fit-content;
  background-color: v.$background;
  padding: 0 0 40px 0;

  .popup {
    width: 100%;
    height: fit-content;
    border-radius: 10px 10px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #d9d9d9;
    cursor: pointer;

    .closeBtn {
      background-color: #d9d9d990;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 70px;
      right: 20px;
      cursor: pointer;
    }

    .danger {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      color: v.$red-gradient;
    }

    .text {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
    }

    @media screen and (max-width: 470px) {
      .text {
        font-size: 12px;
      }

      .closeBtn {
        bottom: 90px;
      }
    }

    .animation {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      text-align: center;
      color: v.$red-gradient;
      animation: transform 5s infinite ease;
    }
  }
}

.opacity {
  animation: opacityEffect 2s forwards;
}

@keyframes transform {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes opacityEffect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
